/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;
$accent-red: #ce4b1f;
$line-height: 20px;
$vin-orangeLighter: #ff8c00;
$vin-purpleLight: #b4a0ff;
$vin-blueLight:	#00bcf2;
$vin-neutralLight: #eaeaea;
$vin-tealLight:	#00B294;

/* Styles */

/*
.savings { color: $vin-green; }
.loss { color: $vin-red; }
input.small { width: 46px; }
td.fuel-savings-label { width: 175px; }
*/

.searchbox {
    padding: 1em;
    .ms-SearchBox-field { z-index: 0;}
}


.wrapper {
    width: 92.5%;
    padding: 1em;
}

.masonry {
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -moz-column-gap: 30px;
    -webkit-column-gap: 30px;
    column-gap: 30px;
    -moz-column-fill: initial;
    -webkit-column-fill: initial;
    column-fill: initial;
    .item {
        margin-bottom: 30px;
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
        .category-content {
            -moz-transition: all .5s ease-in-out;
            -webkit-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
        }
        &:hover .category-content {
            opacity: .75;
            cursor: pointer;
        }
    }
    &.bordered {
        -moz-column-gap: 50px;
        -webkit-column-gap: 50px;
        column-gap: 50px;
        &.bespoke {
            -moz-column-rule: 1px solid $vin-purpleLight;
            -webkit-column-rule: 1px solid $vin-purpleLight;
            column-rule: 1px solid $vin-purpleLight;
        }
        &.course {
            -moz-column-rule: 1px solid $vin-orangeLighter;
            -webkit-column-rule: 1px solid $vin-orangeLighter;
            column-rule: 1px solid $vin-orangeLighter;
        }
        &.topic {
            -moz-column-rule: 1px solid $vin-tealLight;
            -webkit-column-rule: 1px solid $vin-tealLight;
            column-rule: 1px solid $vin-tealLight;
        }
    }
}

.masonry.bordered .item {
    padding-bottom: 25px;
    margin-bottom: 25px;    
}
.masonry.bordered.bespoke .item {
    border-bottom: 1px solid $vin-purpleLight;
}
.masonry.bordered.course .item {
    border-bottom: 1px solid $vin-orangeLighter;
}
.masonry.bordered.topic .item {
    border-bottom: 1px solid $vin-tealLight;
}
@media only screen and (min-width: 1024px) {
  .wrapper {
    width: 80%;
    padding: 1em; /*2em*/
  }

  .masonry {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .wrapper {
    width: 85%;
    padding: 1.5em;
  }

  .masonry {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}